<div class="card footer mb-3" style="background-color: gray;">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="card-title logo2">My<span class="spanLogo2">blog</span></h5>
                    <p class="card-text text-black-50" style=" font-family: 'Kite One', sans-serif;">
                        This is an application that allows user signup and create their pitch and upload their profile and bio</p>
                </div>
                <div class="col">
                    <h5 class="card-title text-black-50"
                        style="margin-left: 88px; font-weight: bold;font-family: 'Piazzolla', serif;">Follow Us
                    </h5>
                    <ul class="listul">
                        <li><a href="https://github.com/mugisha-thierry">Github</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                    <div class="col">
                        <h5 class="card-title text-black-50" style=" font-weight: bold;font-family: 'Piazzolla', serif;">Stay
                          Updated</h5>
                        <input type="text" name="" id="email" class="inpFooter" placeholder="Enter Email Addrress">
                        <button type="submit" class="foot" class="btn btn-secondary">Subscribe</button>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="col">
                    <h5 class="card-title text-black-50" style=" font-weight: bold;font-family: 'Piazzolla', serif;">
                        Call
                        Us</h5>
                    <p><i class="fas fa-envelope " aria-hidden="true "></i> thierrymugis@gmail.com</p>
                    <p><i class="fas fa-phone-square" aria-hidden="true "></i> 0788530450</p>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="text-center">
            <p class="card-text copyright"><small>&copy; Copyright 2020 | MUGISHA THIERRY</small></p>
            