{% import 'macros.html' as macro%}
{% extends 'base.html'%}
{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename = 'static/images')}}">
<img src="">
<div class="jumbotron"
    <div>
        <h1 class="text-center"
            style="letter-spacing: 5px;font-family: 'Euphoria Script', cursive;color: rgb(40, 87, 20);"><strong>
            Blogs-Que</strong></h1>
        <p class="text-center"
            style="color: black;font-style: italic;font-family: 'Times New Roman', Times, serif;">
            Post and comment...? </p>
    </div>
    <div class="col-md-4">
        <blockquote class="blockquote"
            style="background: #5ee4dd34;color: black;font-family: 'Times New Roman', Times, serif;text-align: center;">
            <p style="font-size:17px"><i class="fas fa-quote-left"></i><i>{{ quotes.quote }}</i><i
                    class="fas fa-quote-right"></i></p>
            <footer class="blockquote-footer" style="color: black;font-weight: bold;font-size: 17px;">{{quotes.author}}
            </footer>
        </blockquote>
    </div>

</div>
<div class="row">
<img src="https://images-na.ssl-images-amazon.com/images/I/719h-rMWu8L._SX569_.jpg">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                aria-controls="v-pills-home" aria-selected="true" style="color:green;">General Blogs</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                aria-controls="v-pills-profile" aria-selected="false" style="color:green;" >Mental-Health</a>
            <a class="nav-link active" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                aria-controls="v-pills-messages" aria-selected="false" style="color:green;" >Unthikables</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                aria-controls="v-pills-settings" aria-selected="false" style="color:green;" >Experiences</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">{{macro.display(post)}}
                </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">{{macro.display(unthinkables)}}
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">{{macro.display(experiences)}}
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">{{macro.display(mentlhealth)}}
            </div>
        </div>
    </div>
</div>

{% endblock %} 