{% import 'macros.html' as macro%}
{% extends 'base.html'%}
{% block content %}
<div class="jumbotron"
    style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-aDK-twNUiSDNjj-u1px-p0nFSYYRO5aqTg&usqp=CAU');background-size: cover; background-position: center;">
    <div>
        <h1 class="text-center"
            style="letter-spacing: 5px;font-family: 'Euphoria Script', cursive;color: rgb(19, 56, 3);"><strong>
            MyBlog</strong></h1>
        <p class="text-center"
            style="color: black;font-style: italic;font-family: 'Times New Roman', Times, serif;">
            Feel free to Post and leave comments... </p>
    </div>
    <div class="col-md-4">
        <blockquote class="blockquote"
            style="background: #f9f9f913;color: black;font-family: 'Times New Roman', Times, serif;text-align: center;">
            <p style="font-size:17px"><i class="fas fa-quote-left"></i><i>{{ quotes.quote }}</i><i
                    class="fas fa-quote-right"></i></p>
            <footer class="blockquote-footer" style="color: black;font-weight: bold;font-size: 17px;">{{quotes.author}}
            </footer>
        </blockquote>
    </div>

</div>
<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                aria-controls="v-pills-home" aria-selected="true">General</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                aria-controls="v-pills-profile" aria-selected="false">Skills</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                aria-controls="v-pills-messages" aria-selected="false">Experiences</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                aria-controls="v-pills-settings" aria-selected="false">Hobbies</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">{{macro.display(post)}}
                </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">{{macro.display(skills)}}
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">{{macro.display(experiences)}}
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">{{macro.display(hobbies)}}
            </div>
        </div>
    </div>
</div>

{% endblock %} 