{% macro display(post) %}

<div class="container-fluid">
	<div class="row">
		{% if post %}
		{% for category in post %}
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title" style="font-weight: bolder;">{{category.title}}</h5>
					<img class="card-img-top" src="{{category.post_pic_path}}" alt="Card image cap">
					<p class="card-text">{{category.post}}</p>
					<p class="card-text text-muted">BY: {{category.user.username}}</p>
					<div>
						<span class="mr-2"><i class="fa fa-comment"></i>{{category.comment.count()}}</span><br>
						<a href="{{url_for('main.comment',post_id = category.id)}}" class="btn btn-outline-secondary">Comment</a>
						<a href="{{url_for('main.delete',id = category.id)}}" class="btn btn-outline-danger">Delete</a><br><br>
						<a href="{{url_for('main.update_post',id = category.id)}}" class="btn btn-outline-primary">Update</a>

					</div>
					
				</div>
			</div>
		</div>

		{% endfor %}
		{% else %}
		<p class="card-title">No Pitch Yet!</p>
		{% endif %}
	</div>
</div>
{% endmacro %}